<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  server=4f20c4c6-7196-4b1e-a9c0-a1ba00fc5d53.mysql.sequelizer.com;
  database=db4f20c4c671964b1ea9c0a1ba00fc5d53;
  uid=ljqunwpggfltrnyh;
  pwd=yJNZnSEbYP8PJRuTtjizAtVvFAkgNF6NpCgJa37RXL6Y34NFZPyEvEYfVrtTFxvs
  
  This project depends on their being a table called numbers with a primary auto increment key and 1 integer field called theNumber
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <remove name="MyDb" />
    <add name="MyDb" connectionString="server=4f20c4c6-7196-4b1e-a9c0-a1ba00fc5d53.mysql.sequelizer.com;database=db4f20c4c671964b1ea9c0a1ba00fc5d53;uid=ljqunwpggfltrnyh;pwd=yJNZnSEbYP8PJRuTtjizAtVvFAkgNF6NpCgJa37RXL6Y34NFZPyEvEYfVrtTFxvs" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>