<!DOCTYPE html>
<html>
<head>
<title>Add 2 Numbers</title>
</head>
<body>
<h1>
Add 2 Numbers</h1>
<form action="" method="post">
<p>
<label for="textInput1">
Enter First Number</label><br />
<input type="text" name="textInput1" value="" /></p>
<p>
<label for="textInput2">
Enter Second Number</label><br />
<input type="text" name="textInput2" value="" /></p>
<input type="submit" value="Add" />
</form>
</body>
</html>