<ul>
    <li><a href=".">Home</a></li>
    <li><a href="videos.cshtml">Videos</a></li>
</ul>
<form action="SearchResults.cshtml" method="get">
<label for="q">Search</label><input type="text" name="q" placeholder="type query here" />
</form>
 