@using System.Configuration;
<!DOCTYPE html>
<html>
    <head>
        <title>Multipage Site</title>
        <link type="text/css" rel="Stylesheet" href="Nav.css" />
    </head>
    <body>
        @RenderPage("_header.cshtml")
        <nav id="index">@RenderPage("_navSearch.cshtml")</nav>
        <article>
            <p>This is the content with a connection string @ConfigurationManager.ConnectionStrings["LocalMySqlServer"].ConnectionString</p>
        </article>
        @RenderPage("_footer.cshtml")
    </body>
</html>
