<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <remove name="LocalMySqlServer"/>
      <add name="LocalMySqlServer"
            connectionString="Datasource=localhost;Database=users;uid=root;pwd=password;"
            providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>

</configuration>
