<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  cloudinary://283344254821121:INXwnv9AJtOP9PUdmR-xxVa2DTk@hfm9olpom
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="8000" />
  </system.web>
</configuration>