@using System;
@using System.Data;
@using MySql.Data;
@using MySql.Data.MySqlClient;
<!DOCTYPE html>
<html>
    <head>
        <title>Select a single column from ship Virginia</title>
    </head>
    <body>
        <h1>Select a single column from ship Virginia</h1>
        @{
            MySqlConnection conn = new MySqlConnection("server=localhost;user=root;database=sample");
            try
            {
                conn.Open();
                String sClass = "';DROP TABLE TEST;#";
                String sSQL = "SELECT DISTINCT(numberofcrew) FROM ships WHERE class = @class";
                MySqlCommand cmd = new MySqlCommand(sSQL, conn);
                cmd.Parameters.AddWithValue("class", sClass);
                MySqlDataReader results = cmd.ExecuteReader();
                while(results.Read())
                {
                    <p>Virginia class ship with @results[0] crew</p>
                }
                    
            }
            catch(Exception e)
            {
                <p>SQL Error @e.Message</p>
            }
            finally
            {
                conn.Close();
            }
                                       
        }
    </body>
</html>